* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.game-container {
  background-color: #f5f5f5;
  max-width: 450px;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.Suggestions-board {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  color: black;
}
.leaderboard {
  height: 400px;
  width: 250px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  color: black;
}
.leaderboard-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
}
img.lb-icon {
  width: 55%;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
.grid > li {
  display: inline-grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(58.5px, 0px));
  max-width: 256px;
  margin: auto;
  padding: 0;
  counter-increment: doc;
  padding: 3px;
  font-size: 10px;
  border-radius: 2px;
}
.grid {
  list-style: none;
  counter-reset: doc -1;
  padding: 0;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 2px;
}
.grid li:nth-child(1) {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.grid > li:before {
  max-width: 25px;

  content: counter(item);
  background: lightblue;
  border-radius: 2px;
  color: white;

  text-align: center;
  display: inline-block;
  content: counter(doc) "th";
  font-size: 10px;
}

li:nth-child(1):before {
  content: "#";
  color: black;

  background: transparent;
}
li:nth-child(2):before {
  background: #e1ba39;
  color: white;
  background-repeat: no-repeat;
  content: "1st";
}
li:nth-child(3):before {
  background: #a9aab4;
  color: white;
  content: "2nd";
}
li:nth-child(4):before {
  background: #cf7c3b;
  color: white;
  content: "3rd";
}
.leaderboard-sort > input[type="radio"] {
  display: none;
}

.leaderboard-sort > label,
form > button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 4px 6px;
  font-size: 11px;
  font-weight: 500;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 3px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
}
.leaderboard-sort > label:hover,
.leaderboard-sort input:checked + label,
form > button:hover {
  background-color: #e9eaed;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.dice-container {
  display: grid;
  padding: 34px;
  column-gap: 18px;
  row-gap: 18px;
  grid-template: auto auto / repeat(5, 1fr);
}
.dice {
  align-items: center;
  justify-content: center;
  display: flex;

  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.roll-dice {
  background-color: #5d46f4;
  border-radius: 4px;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  color: white;
  cursor: pointer;
  padding: 15px 25px;
}
.roll-dice:focus {
  outline: none;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
h3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.choosen {
  background-color: rgb(89, 227, 145);
}
.dice-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.roll-number,
.time-elapsed {
  width: 50px;
  font-family: monospace;
}
.suggestion-textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  resize: none;
}

p.name-info {
  font-size: 11px;
}

footer {
  margin-top: auto;
  text-align: center;
}
span.leaderboard-title {
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-align: center;
}
.love {
  color: #57606a;
  font-size: 12px;
}
.love a {
  font-weight: bold;
}
